<!DOCTYPE html>
<html>

<head>
    <style>
        div {
            border: 1px solid gray;
            padding: 8px;
        }

        h1 {
            text-align: center;
            text-transform: uppercase;
            color: #4CAF50;
        }

        p {
            text-indent: 50px;
            text-align: justify;
            letter-spacing: 3px;
        }

        a {
            text-decoration: none;
            color: #008CBA;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/comment.css">
    <title>Document</title>
</head>

<body>
    <div>
        <% for(let i=0; i < dataplace.length; i++) { %>
            <h1>
                <%= dataplace[i].NAME %>
            </h1>


            <img src="<%= dataplace[i].MAP_PLACE %> " alt="Paris" class="center">


            <% } %>

    </div>
    <div class="row">
        <div class="avatar_comment col-md-1">
            <img src="https://vtv1.mediacdn.vn/thumb_w/650/2022/3/4/avatar-jake-neytiri-pandora-ocean-1646372078251163431014-crop-16463720830272075805905.jpg"
                alt="avatar" />
        </div>
        <div class="box_comment col-md-11">
            <textarea class="commentar" placeholder="Add a comment..."></textarea>
        </div>
    </div>

    <ul id="list_comment" class="col-md-12">
        <!-- Start List Comment 1 -->
        <li class="box_result row">
            <div class="avatar_comment col-md-1">
                <img src="https://thuvienanime.com/wp-content/uploads/2022/09/Zenitsu.jpg" alt="avatar" />
            </div>
            <div class="result_comment col-md-11">
                <h4>Zenitsu</h4>
                <p>Nice City</p>
            </div>
        </li>
        <!-- Start List Comment 2 -->
        <li class="box_result row">
            <div class="avatar_comment col-md-1">
                <img src="https://cdn.popsww.com/blog/sites/2/2022/02/yoriichi-la-gi-cua-tanjiro.jpg" alt="avatar" />
            </div>
            <div class="result_comment col-md-11">
                <h4>Tanjiro Kamado</h4>
                <p>Da Nang is so beautiful</p>

                <ul class="child_replay"></ul>
            </div>
        </li>
        </div>
</body>

</html>