<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/review_comment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top:40px;">
            <div class="col-md-6">
                <div class="well well-sm">
                    <div class="row" id="post-review-box">
                        <div class="col-md-12">
                            <div class="stars">
                                <span class="fa-solid fa-star"></span>
                                <span class="fa-solid fa-star"></span>
                                <span class="fa-solid fa-star"></span>
                                <span class="fa-regular fa-star"></span>
                                <span class="fa-regular fa-star"></span>
                            </div>
                            <form accept-charset="UTF-8" action="" method="post" class="form-review">
                                <input id="ratings-hidden" name="rating" type="hidden">
                                <textarea class="form-control animated" cols="50" id="new-review" name="comment"
                                    placeholder="Enter your review here..." rows="5"></textarea>

                                <div class="text-right clearfix">
                                    <br>
                                    <button class="btn btn-indie-trans" type="submit">Publish</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="app">
        <% for(let i=0; i < reviewData.length; i++){ %>
            <div class="review">
                <div class="review-photo">
                    <img src="<%= reviewData[i].IMAGE %>" alt="">
                </div>
                <div class="review-box">
                    <div class="review-author">
                        <p><strong>
                                <%=reviewData[i].NAME%>
                            </strong> -

                            <% for(let j=0;j < reviewData[i].RATING;j++){ %>
                                <i class="fa-solid fa-star" aria-hidden="true"></i>
                                <% } %>
                                    <% for(let j=0;j < 5-reviewData[i].RATING;j++){ %>
                                        <i class="fa-regular fa-star" aria-hidden="true"></i>
                                        <% } %>

                                            - <%=dataPlace.NAME%>
                        </p>
                    </div>
                    <div class="review-comment">
                        <p>
                            <%= reviewData[i].COMMENT %>
                        </p>
                    </div>
                    <div class="review-date">
                        <time>July, 27th, 2016</time>
                    </div>
                </div>

            </div>

            <% } %>

    </div>
</body>

</html>
